.half{
    display: inline-block;
    width: 45%;
    float: left;
    padding: 5px;
    /* border-radius: 10px; */
    margin: 1%;
    /* border: solid 5px; */
}

.whole{
    width: 90%;
    clear:both;
    margin: 2%;
}

h2{
    background-color: #e49503;
    background-color: rgba(228, 149, 3, 0.7);
    color: #5e5e5e
    margin-left: 10px;
    padding-left:10px;
}

a{
    font-family:Arial, Helvetica, sans-serif;
    font-style: oblique;
}

header a{
    font-size: 20px;
}


a:hover{
    background-color:#00FFFF;
    border: solid 4px yellow;
}

a:focus{
    background-color: #ff0000;
}

header{
    text-align: center;
    background: linear-gradient(25deg, #ee9c04 0%, #ff0c05 100%);
    /* from left to right  */
    /* background: linear-gradient(0.25turn, #ee9c04 0%, #ff0c05 100%); */

    /* prefix */
    /* background: -webkit-linear-gradient(60deg, #e49503 0%, #e45503 100%); */
}


h1{
    font-size: 45px;
    color: #FFFFFF;
}

details p {
    font-style:italic;
}

footer{
    display: block;
    clear: both;
}

footer img{
    display: inline-block;
    width: 15%;
}

body{
    background-color: #c3aff3;
}

td{
    color: black;
    font-size: 15px;
}
footer p{
    display: inline-block;
    width: 65%;
}


a[href^= "https://www.google"]{
    color:rgb(180, 76, 128);
}

a[href$=".pdf"]{
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/29841/pdf.png");
}

a[href$=".doc"]{
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/29841/doc.png");
}

ul a{
    background-position: 0 50%;
    background-repeat: no-repeat;
    padding-left: 15px;
    text-decoration: none;
}

footer ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

nav a{
    display: inline-block;
    margin: 0px 1%;
}

footer p{
    background-image: url("http://www.intro-webdesign.com/images/newlogo.png");
    background-repeat: no-repeat;
    background-position: 0% 0%;
    background-color: #98fb98;
    background-size: 8%;
    border-radius: 5px;
    padding: 5px 0 15px 6%;
    border: solid 2px #467813;
}